.bombTimer {
    width: 200px;
    height: 200px;
    position: relative;
}
#notificationScreen{
    display: none;
}


.center{
	margin-left:auto;
	margin-right:auto;
}

body {
    font-family: "Lato";
    font-weight: 300;
}

.page-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: -webkit-linear-gradient(left top, #3a588c, #182334); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #3a588c, #182334); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #3a588c, #182334); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #3a588c, #182334); /* Standard syntax */
}

.logo-container {
    height: 300px;
    text-align: center;
    padding-top: 100px;
}

.login-container {
    text-align: center;
    color: #fff;

    cursor: pointer;
}