.bombTimer {
    width: 200px;
    height: 200px;
    position: relative;
}
#notificationScreen{
    display: none;
}

#photoButton{
    background-color: #2df6d4;
    border-radius: 10px;
    width: 125px;
    height:40px;
    display: block;
    text-align: center;
    vertical-align: bottom;
    color:black;
    font-family: Roboto;
    font-size: 24px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.center{
	margin-left:auto;
	margin-right:auto;
}

body {
    font-family: "Lato";
    font-weight: 300;
}

.page-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: -webkit-linear-gradient(left top, #3a588c, #182334); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #3a588c, #182334); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #3a588c, #182334); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #3a588c, #182334); /* Standard syntax */
    color: white;
}

.logo-container {
    height: 300px;
    text-align: center;
    padding-top: 100px;
    background: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.login-container {
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#photoSample{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    border: 3px #fff solid;
    margin: 20px auto 40px auto;
    box-shadow: 5px 5px 30px #000;
	background: url("");"../images/fp.jpg");
    background-size: 100% 100%;
}

#photoTitle{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color:#2df6d4;
}

#photoDes{
    text-align: center;
    padding: 0 20px;
}

.meme1##photoSample{
	background: url("../images/cat.jpg");
}
.meme1#photoTitle{
	content: "Cats!";
}
.meme1#photoDec{
	content: "";
}

.meme2#photoSample{
	background: url("../images/dive.jpg");
}
.meme2photoTitle{
	content: "Diving!";
}
.meme2photoDec{
	content: "";
}

.meme3#photoSample{
	background: url("../images/force.jpg");
}
.meme3photoTitle{
	content: "";
}
.meme3photoDec{
	content: "";
}

.meme4#photoSample{
	background: url("../images/force2.jpg");
}
.meme4photoTitle{
	content: "";
}
.meme4photoDec{
	content: "";
}

.meme5#photoSample{
	background: url("../images/fp.jpg");
}
.meme5photoTitle{
	content: "";
}
.meme5photoDec{
	content: "";
}

.meme6#photoSample{
	background: url("../images/plank.jpg");
}
.meme6photoTitle{
	content: "";
}
.meme6photoDec{
	content: "";
}
