.bombTimer {
    width: 200px;
    height: 200px;
    position: relative;
}
#notificationScreen{
    display: none;
}

#photoButton{
    background-color: #2df6d4;
    border-radius: 5px;
    width: 125px;
    height:40px;
    display: block;
    text-align: center;
    font-weight: 300;
    vertical-align: bottom;
    color: #182334;
    font-size: 24px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.50);
}

.center{
	margin-left:auto;
	margin-right:auto;
}

body {
    font-family: "Lato";
    font-weight: 300;
}

.page-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: -webkit-linear-gradient(left top, #3a588c, #182334); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #3a588c, #182334); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #3a588c, #182334); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #3a588c, #182334); /* Standard syntax */
    color: white;
}

.logo-container {
    height: 300px;
    text-align: center;
    padding-top: 100px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.login-container {
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#photoSample{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    border: 3px #fff solid;
    margin: 20px auto 40px auto;
    box-shadow: 5px 5px 30px #000;
	background: url("");"../images/fp.jpg");
}

.challenge-wrapper {
    position: relative;
    border: 1px #fff solid;
    border-radius: 10px;
    margin: -90px 20px 5px 20px;
    padding: 60px 10px 20px 10px;
    z-index: -100;
}

#photoTitle{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color:#2df6d4;
}

.topMargin{
margin-top: 10px;
}

#photoDes{
    text-align: center;
    padding: 0 20px;
}

.meme1 #photoSample{
	background-image: url("../images/cat.jpg");
    background-size: cover;
}
.meme1 #photoTitle:after{
	content: "Pet Breading";
}
.meme1 #photoDes:after{
	content: "We think its hilarious but they are probably plotting our demise. But it’s just so damn fashionable! Take a slice of bread, and frame your pet’s face with it.";
}

.meme2 #photoSample{
	background-image: url("../images/dive.jpg");
    background-size: cover;
}
.meme2 #photoTitle:after{
	content: "Leisure Diving";
}
.meme2 #photoDes:after{
	content: "Diving couldn’t be more relaxed. Head over to your favourite swimming spot, get a running start, jump in and make look as effortless as possible.";
}

.meme3 #photoSample{
	background-image: url("../images/force.jpg");
    background-size: cover;
}
.meme3 #photoTitle:after{
	content: "Photobomb";
}
.meme3 #photoDes:after{
	content: "When opportunity presents itself, you just need to completely ruin a nice photo. Make a funny face in a family portrait, jump into the background of a vacation photo, or just make your friends feel uncomfortable in their next selfie.";
}

.meme4 #photoSample{
	background-image: url("../images/force2.jpg");
    background-size: cover;
}
.meme4 #photoTitle:after{
	content: "Use the force";
}
.meme4 #photoDes:after{
	content: "Do or do not, there is no try. Use the powers of the force to push, choke and control others to your bidding!";
}

.meme5 #photoSample{
	background-image: url("../images/fp.jpg");
    background-size: cover;
}
.meme5 #photoTitle:after{
	content: "Forced Perspective";
}
.meme5 #photoDes:after{
	content: "Change the size of everyday objects to enormous sizes. Near objects appear large and far objects appear small Change the size of everyday objects to enormous sizes. Near objects appear large and far objects appear small.";
}

.meme6 #photoSample{
	background-image: url("../images/plank.jpg");
    background-size: cover;
}
.meme6 #photoTitle:after{
	content: "Planking";
}
.meme6 #photoDes:after{
	content: "The one that started it all. Lie down flat with your arms to your side in the most creative places you can think of! Remember, safety first – that perfect photo isn’t worth a trip to the hospital.";
}
